### 표본추출 / 샘플링
- 전체 데이터에서 일부 데이터를 추출
- pandas.DataFrame.sample()메서드
- 복원 : 뽑은 거 다시 넣음
- 비복원 : 뽑고 버림

In [2]:
import pandas as pd

In [5]:
# 임의의 데이터 생성 
dataDF = pd.DataFrame({"kor":[10, 20, 30],
                      "math":[11, 22, 33],
                      "eng":[111, 222, 333]})
dataDF

   kor  math  eng
0   10    11  111
1   20    22  222
2   30    33  333

In [9]:
# 1개의 샘플/표본 데이터 추출 : default -> 비복원(replace=False), row(axis=0)
for cnt in range(1, 6):
    print(f"{cnt}번")
    print(dataDF.sample(n=3))

1번
   kor  math  eng
2   30    33  333
1   20    22  222
0   10    11  111
2번
   kor  math  eng
1   20    22  222
0   10    11  111
2   30    33  333
3번
   kor  math  eng
0   10    11  111
1   20    22  222
2   30    33  333
4번
   kor  math  eng
0   10    11  111
1   20    22  222
2   30    33  333
5번
   kor  math  eng
2   30    33  333
0   10    11  111
1   20    22  222

In [11]:
for cnt in range(1, 6):
    print(f"{cnt}번")
    print(dataDF.sample(n=3, replace=True)) # 복원 추출

1번
   kor  math  eng
1   20    22  222
0   10    11  111
0   10    11  111
2번
   kor  math  eng
0   10    11  111
1   20    22  222
2   30    33  333
3번
   kor  math  eng
0   10    11  111
1   20    22  222
1   20    22  222
4번
   kor  math  eng
0   10    11  111
2   30    33  333
1   20    22  222
5번
   kor  math  eng
1   20    22  222
2   30    33  333
1   20    22  222