아래 데이터셋을 기반으로 분류/회귀 모델을 완성 후 성능평가까지 구현하세요.

# 목표1. 분류 : 3개의 품종 중 2개 선택하여 이진 분류 진행

In [15]:
import pandas as pd
df = pd.read_csv('../data/iris.csv')
df.iloc[:,:20].head(5)
# 꽃잎의 길이 2

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [16]:
df = df[df["variety"].isin(['Setosa', 'Versicolor'])]
df

    sepal.length  sepal.width  petal.length  petal.width     variety
0            5.1          3.5           1.4          0.2      Setosa
1            4.9          3.0           1.4          0.2      Setosa
2            4.7          3.2           1.3          0.2      Setosa
3            4.6          3.1           1.5          0.2      Setosa
4            5.0          3.6           1.4          0.2      Setosa
..           ...          ...           ...          ...         ...
95           5.7          3.0           4.2          1.2  Versicolor
96           5.7          2.9           4.2          1.3  Versicolor
97           6.2          2.9           4.3          1.3  Versicolor
98           5.1          2.5           3.0          1.1  Versicolor
99           5.7          2.8           4.1          1.3  Versicolor

[100 rows x 5 columns]

In [17]:
df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    100.000000   100.000000    100.000000   100.000000
mean       5.471000     3.099000      2.861000     0.786000
std        0.641698     0.478739      1.449549     0.565153
min        4.300000     2.000000      1.000000     0.100000
25%        5.000000     2.800000      1.500000     0.200000
50%        5.400000     3.050000      2.450000     0.800000
75%        5.900000     3.400000      4.325000     1.300000
max        7.000000     4.400000      5.100000     1.800000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  100 non-null    float64
 1   sepal.width   100 non-null    float64
 2   petal.length  100 non-null    float64
 3   petal.width   100 non-null    float64
 4   variety       100 non-null    object
dtypes: float64(4), object(1)
memory usage: 4.7+ KB

In [22]:
df["variety"] = df["variety"].replace({"Setosa" : 0, "Versicolor" : 1})
df
# 전처리 끝

    sepal.length  sepal.width  petal.length  petal.width  variety
0            5.1          3.5           1.4          0.2        0
1            4.9          3.0           1.4          0.2        0
2            4.7          3.2           1.3          0.2        0
3            4.6          3.1           1.5          0.2        0
4            5.0          3.6           1.4          0.2        0
..           ...          ...           ...          ...      ...
95           5.7          3.0           4.2          1.2        1
96           5.7          2.9           4.2          1.3        1
97           6.2          2.9           4.3          1.3        1
98           5.1          2.5           3.0          1.1        1
99           5.7          2.8           4.1          1.3        1

[100 rows x 5 columns]

In [25]:
iris_df = df.copy() # 원본 : df

In [26]:
from sklearn.model_selection import train_test_split

feature_DF = iris_df.iloc[:,:-1]
target_SR = iris_df.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(feature_DF, target_SR, stratify=target_SR, random_state=42)

In [27]:
from sklearn.neighbors import KNeighborsClassifier # 분류기

In [29]:
KNN_model = KNeighborsClassifier()

KNN_model.fit(X_train, y_train)

KNeighborsClassifier()

In [30]:
# score 확인
KNN_model.score(X_train, y_train)

1.0

In [31]:
KNN_model.score(X_test, y_test)

1.0

In [32]:
# 성능 평가
from sklearn.metrics import accuracy_score, f1_score, recall_score

In [35]:
new_data = pd.DataFrame([[4.7, 3.2, 1.3, 0.2], [6.2, 2.9, 4.3, 1.3]], columns=feature_DF.columns)
# 4.7	3.2	1.3	0.2 -> 0
# 6.2	2.9	4.3	1.3	-> 1

new_data

   sepal.length  sepal.width  petal.length  petal.width
0           4.7          3.2           1.3          0.2
1           6.2          2.9           4.3          1.3

In [37]:
KNN_model.predict(new_data) # 잘 맞음

array([0, 1], dtype=int64)

In [41]:
y_pred = KNN_model.predict(X_test) # new_data라고 치고 
accuracy_score(y_pred, y_test)

1.0

In [42]:
recall_score(y_pred, y_test)

1.0

In [43]:
f1_score(y_pred, y_test)

1.0

# 목표2. 회귀 : 3개 품종 중 1개 선택, 4개 feature 중 꽃잎의 길이값 예측 회귀

In [45]:
df

    sepal.length  sepal.width  petal.length  petal.width  variety
0            5.1          3.5           1.4          0.2        0
1            4.9          3.0           1.4          0.2        0
2            4.7          3.2           1.3          0.2        0
3            4.6          3.1           1.5          0.2        0
4            5.0          3.6           1.4          0.2        0
..           ...          ...           ...          ...      ...
95           5.7          3.0           4.2          1.2        1
96           5.7          2.9           4.2          1.3        1
97           6.2          2.9           4.3          1.3        1
98           5.1          2.5           3.0          1.1        1
99           5.7          2.8           4.1          1.3        1

[100 rows x 5 columns]

In [49]:
df = df[df["variety"].isin([0])] # 위에서 0, 1로 바꿔서...

In [53]:
# 종은 이제 필요 없음
df = df.drop("variety", axis=True)

In [55]:
from sklearn.model_selection import train_test_split

feature_DF = iris_df.iloc[:,[0,1,3]]
target_SR = iris_df.iloc[:,2]

X_train, X_test, y_train, y_test = train_test_split(feature_DF, target_SR, random_state=42)

In [56]:
from sklearn.linear_model import LinearRegression

In [57]:
LR_medol = LinearRegression()

In [58]:
LR_medol.fit(X_train, y_train)

LinearRegression()

In [60]:
LR_medol.score(X_train, y_train)

0.9725666255330583

In [61]:
LR_medol.score(X_test, y_test)

0.9707101016754806

In [62]:
# 성능 평가
from sklearn.metrics import mean_squared_error

In [63]:
y_pred = LR_medol.predict(X_test)
mean_squared_error(y_test, y_pred) # 에러값이 작네

0.06770231122160046